/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
}

p {
    margin: 0px;
    font-weight: 400;
    font-size: 0,87;
   
}

h3 {
   
    font-size: 1rem;
}
header{
    display: flex;
    flex-direction: column;

}

.card, .card-activites:hover{
    cursor: pointer;
}



.navigation {
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 79px;
}

.logo {
    padding: 30px 0px;
    height: 19px;
    width: 61px;
}

.logo:hover{
    cursor: pointer;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 15%;
    gap: 68px;
}

.navLinks:link{
    
    text-decoration: none;
}
.navLinks:visited {
    text-decoration: none;
    color: black;
}

.navLinks:hover{
    text-decoration: overline ;
    color: #0065FC;

}


.searchContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.phraseHerbergement {
    font-size: 1.375rem;
    margin-top: 30px;
}

.searchContainer p {
    font-size: 1rem;
    
}
.searchTitle{
    margin-bottom: 35px;
}
.searching{
    height: 50px;
    width: 377px;
    
}

.form {
display: flex;
justify-content: flex-start;
height: 50px
}

.location-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    height: 3,125rem;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
}
#location-icon{
height: 1rem;
color: black;
}

.location-container:hover{
    cursor: pointer;
}

#btnSearch{
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    color:white;
    width: 132px;
    font-size: 1rem;
    font-weight: 700;
}
#btnSearch:hover{
    cursor: pointer;
}

#place{
    width: 195px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
}

.filtersArea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.filtres {
    color: black;
    font-weight: 700;
    margin: 0px;
    
}

.filterContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    
}

.filterContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    padding: 19px;
    gap: 10px;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter:hover{
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.moreInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    
}

.iconInfo {
border-radius: 50%;
border: 1px solid #D9D9D9;
background-color: white;
}




.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}



.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}


.hebergements_cards{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    
}

.hebergements_cards .card{
    display: flex;
    flex-direction: column;
    min-width:29%;
    margin-top: 30px;
}

.hebergements_cards img{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

 .card-contentH{
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
}

.card-titleH{
margin-top: 10px;
margin-bottom: 8px;
}

.afficherPlus:hover{
    cursor: pointer;
}

.afficherPlus p{
    font-weight: 700;

}
.card-rating {
    margin-top: 8px;
    margin-bottom: 8px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/************Activités***************/

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.activites_card_container {
    display: flex;
    width: 100%;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
.card-activites {
    width: 20%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

}

.card-activites img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.card-content-Activite{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title-activites h3 {
    font-size: 1rem;
    font-weight: 700;
}



/************Footer***************/
footer p:hover{
    cursor: pointer;
}

.footer-Container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F2F2F2;
    padding: 20px 50px;
    margin-bottom: 40px;
    margin-top: 65px;
    height: 163px;
    box-sizing: border-box;
}

.footer-Contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0px;
  
}

.footer-Contain h3 {
    margin: 0px
}
.footer-Contain p {
    margin: 0px;
}

.a-propos {
    padding-bottom: 15px;
    
}
.p-middle{
    padding-top: 15px;
    padding-bottom: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}